

/* Estilos básicos para telas pequenas */
body {
    font-size: 16px;
}

#palco_jogo {
    display: flex;
    flex-direction: column;
}

.jogada {
    width: 30%; /* Ajuste conforme necessário */
    padding-bottom: 30%; /* Cria um quadrado, ajuste conforme necessário */
    margin: 5px;
}

/* Mídia Query para telas maiores */
@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }

    #palco_jogo {
        flex-direction: row;
        justify-content: space-around;
    }

    .jogada {
        width: 150px; /* Ajuste conforme necessário */
        padding-bottom: 150px; /* Cria um quadrado, ajuste conforme necessário */
        margin: 10px;
    }
}
